<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Spa_Management_System.My.MySettings.SpaMgtSysConnectionString"
            connectionString="Data Source=Shree0g\SQLEXPRESS;Initial Catalog=SpaMgtSys;Persist Security Info=True;User ID=sa;Password=Sql@Shree;Encrypt=False;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>